.img-wrapper{
    margin-left: 1rem;
    margin-right: 1rem;
}

.carousel-wrapper{
    margin-bottom: 10rem !important;
    padding-bottom: 10rem !important;
}

h3{
    color: #9BA7BF !important;
}
p{
    color: #9BA7BF;
}